
@using ChartJS.Helpers.MVC;

@model WebSiteTester.BLL.Dtos.TestDto

@{
    ViewBag.Title = "Tester";
}
@using (Ajax.BeginForm("Start", new { }, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "get" }, new { @class = "form col-12 text-center m-2" }))
{
    <label>Input site url to find sitemap</label>
    <div class="form-inline justify-content-center p-0">
        <input type="text" id="url" name="Url" class="col col-md-6 rounded-left border-primary border p-2" placeholder="Url" />
        <input id="submit" type="submit" value="Start" class="btn-primary col-3 col-md-2 rounded-right border-primary border p-2" />
    </div>
    <span class="small text-center ml-0 mr-0">
        For example:
        @Ajax.ActionLink("https://www.ukad-group.com/", "Start", new { Url = "https://www.ukad-group.com/" }, new AjaxOptions { UpdateTargetId = "results" })
        @Ajax.ActionLink("https://www.docker.com/", "Start", new { Url = "https://www.docker.com/" }, new AjaxOptions { UpdateTargetId = "results" })
    </span>
}

<div id="loader" style="display:none;" class="col-12 text-center p-3">
    <span class="spinner-border align-middle"></span>
    <span class="align-middle">Please, wait...</span>
</div>

<div id="results"></div>

<script type="text/javascript">
    $(document).ajaxStart(function () {
        $('#loader').show();
        $('#submit').prop('disabled', true);
    });
    $(document).ajaxComplete(function () {
        $('#loader').hide();
        $('#submit').prop('disabled', false);
    });
</script>





